.first-section{
background-color: rgb(219, 219, 255);
height: 500px;
text-align: center;
padding-top: 120px;
}
.first-section p{
    font-size: 20px;
}
.first-section h2{
    font-size: 50px;
}

.Second-Section{
    background-color: rgb(246, 245, 245);
    height: 400px;
    text-align: center;

}

